<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap " style="padding: 20px;">
        <div class="container clearfix">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="m-0 font-weight-bold text-theme float-left">Category Details</h2>
                    <a href="/admin/category_add" class="btn button-lightgreen text-white float-right mr-auto">Add
                        Category
                        Details</a>
                </div>
                <div class="card-body">


                    <div class="style-msg successmsg" id="successmsg" style="display: none;">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i> Data Updated Successfully</div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>


                    <div class="table-responsive">
                        <table class="table mt-4" id="vendorsTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    {{!-- <th scope="col">Status</th>                                  --}}
                                    <th scope="col">Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each category}}
                                <tr>
                                    <td scope="row">{{@index}}</td>
                                    <td>{{this.cat_name}}</td>
                                    {{!-- <td>{{this.status}}</td> --}}

                                    <td><a href="/admin/vendor_edit/{{this._id}}"
                                            class="btn button-lightgreen text-white">Edit</a>
                                        <a href="/admin/vendor_delete/{{this._id}}" class="btn btn-danger"
                                            onclick="return confirm('Are You Want To Delete {{this.ven_name}}?')">Delete</a>
                                    </td>
                                    <td>
                                        <input type="hidden" id="cat_id" name="cat_id" class="hiddenValue"
                                            value={{this._id}} />
                                        <input type='text' value="{{this.cat_name}}" name='searchQuery' id='searchInput'
                                            class='enableOnInput' disabled='disabled' />
                                        <input type='submit' name='submit' id='submitBtn' value='Edit' />
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>


        </div>
    </div>
</section><!-- #content end -->


<!-- Datatable for vendor details
============================================= -->
<script>
    $(function () {
        $('#vendorsTable').DataTable();
    });
</script>

<script type='text/javascript'>
    $(function () {
        $('#submitBtn').click(function () {
            var text = $(this).val();
            var cat_id = $(cat_id).val();

            if (text == "Update") {
                alert("li")
                $.ajax({
                    type: 'post',
                    url: '/admin/category_update/',
                    data: 'cat_id=' + cat_id,

                    success: function (response) {

                        if (response.update_success == "true") {

                            document.getElementById('successmsg').style.display = "block";
                            $('#submitBtn').val('Edit');

                        }
                        else {
                            document.getElementById('successmsg').style.display = "none";
                        }
                    }
                })
            }
            else {
                $('.enableOnInput').prop('disabled', false);
                $('#submitBtn').val('Update');

            }


        });
    });
</script>