<!-- Sub Title
============================================= -->
<section id="page-title" class="page-title-mini">
    <div class="container clearfix">
        <h1 class="color">Blocked User Details</h1>        
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/users_view">View Users </a></li>
            <li class="breadcrumb-item active" aria-current="page">View Blocked Users</li>
        </ol>
    </div>
</section>

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap " style="padding: 20px;">
    <div class="container clearfix">
      <div class="card shadow mb-4">      
        <div class="card-body">
          {{#if admin_details.adminMessage}}
          <div class="style-msg successmsg" id="success">
            <div class="sb-msg"><i class="icon-thumbs-up"></i> {{admin_details.adminMessage}} {{first_name}}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
          {{/if}}
           <div class="table-responsive">
            <table class="table table-striped" id="user_table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th> Last Name</th>
                  <th> Phone</th>
                  <th> Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td>{{ this.first_name }}</td>
                  <td>{{ this.last_name }}</td>
                  <td>{{ this.phone }}</td>
                  <td>{{ this.email }}</td>
                  <td>                
                    <a href="javascript:void(0);" class="btn btn-sm btn-secondary block" data-id="{{ _id }}">Unblock</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>



<!-- Modal Block User-->
<form id="add-row-form" action="/admin/user_unblock" method="post">
  <div class="modal fade" id="block-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Unblock User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <strong>Are you sure to Unblock this user?</strong>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="user_id" class="form-control user_id2" required>
          <button type="button" class="btn btn-default bg-dark text-white" data-dismiss="modal">Close</button>
          <button type="submit" class="btn bg-color">Unblock</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>

  $(document).ready(function () {

    // Datatable for user details
    $('#user_table').DataTable();


    //showing unblock record modal
    $('#user_table').on('click', '.block', function () {
      var user_id = $(this).data('id');
      $('#block-modal').modal('show');
      $('.user_id2').val(user_id);
    });


  });

 
</script>