<!-- Sub Title
============================================= -->
<section id="page-title" class="page-title-mini">
    <div class="container clearfix">
        <h1 class="color">View Vendor Details</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/vendor_add">Add Vendor </a></li>
            <li class="breadcrumb-item active" aria-current="page">View Vendors</li>
        </ol>
    </div>
</section>

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap " style="padding: 20px;">
        <div class="container clearfix">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    {{!-- <h2 class="m-0 font-weight-bold text-theme float-left">Vendor Details</h2> --}}
                    <a href="/admin/vendor_add" class="btn bg-color text-white float-right mr-auto">Add Vendor
                        Details</a>
                </div>
                <div class="card-body">

                    {{#if admin_details.adminMessage}}
                    <div class="style-msg successmsg">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i> {{admin_details.adminMessage}}</div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>

                    {{/if}}
                    <div class="table-responsive">
                        <table class="table mt-4" id="vendorsTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Shop Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Actions</th>
                                    {{!-- <th scope="col"></th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each vendors}}
                                <tr>
                                    <td scope="row">{{@index}}</td>
                                    <td>{{this.ven_name}}</td>
                                    <td>{{this.ven_shop}}</td>
                                    <td>{{this.ven_email}}</td>
                                    <td>{{this.ven_phone}}</td>
                                    <td><img style="width: 50px;height: 50px;"
                                            src="../images/vendor-images/{{this._id}}.jpg" alt="{{this.ven_shop}}" />
                                    </td>
                                    <td><a href="/admin/vendor_edit/{{this._id}}"
                                            class="btn bg-color text-white">Edit</a>
                                        <a href="/admin/vendor_delete/{{this._id}}" class="btn btn-danger"
                                            onclick="return confirm('Are You Want To Delete {{this.ven_name}}?')">Delete</a>
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>


        </div>
    </div>
</section><!-- #content end -->


<!-- Datatable for vendor details
============================================= -->
<script>
    $(function () {
        $('#vendorsTable').DataTable();
    });
</script>

