<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container ">
            <div class="card mb-0 shadow">
                <div class="card-header py-3 ">
                    <h3 class="m-0 font-weight-bold text-theme">Edit vendor Details</h3>
                </div>
                <div class="card-body" style="padding: 20px;">

                    {{#if vendor.isVender_update}}
                    <div class="style-msg successmsg" id="success">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Well
                                done!</strong>{{vendor.isVender_update}} </div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>

                    {{/if}}

                    <form id="vendor" name="vendor" class="row mb-0" action="/admin/vendor_edit/{{vendor._id}}"
                        method="post" enctype="multipart/form-data">

                        <div class="col-12 form-group">
                            <label for="ven_name">Name:</label>
                            <input type="text" id="ven_name" name="ven_name" value="{{vendor.ven_name}}"
                                class="form-control" required>
                        </div>
                        <div class="col-12 form-group">
                            <label for="ven_shop_name">Shop Name:</label>
                            <input type="text" id="ven_shop_name" name="ven_shop_name" value="{{vendor.ven_shop}}"
                                class="form-control" required>
                        </div>



                        <div class="col-12 form-group">
                            <label for="ven_phone">Phone:</label>
                            <input type="text" id="ven_phone" name="ven_phone" value="{{vendor.ven_phone}}"
                                class="form-control" title="Enter a vaild Phone Number(10 digits)" pattern="[1-9]{1}[0-9]{9}" required>
                        </div>

                        <div class="col-12 form-group">
                            <label for="ven_email">Email Address:</label>
                            <input type="email" id="ven_email" name="ven_email" value="{{vendor.ven_email}}"
                                class="form-control" readonly required>
                            <div id="email_error" style="color:red;"></div>
                            <div id="email_success" style="color:red;"></div>


                        </div>

                        {{!-- <div class="col-12 form-group">
                            <label for="ven_password">Choose a Password:</label>
                            <input type="password" id="ven_password" name="ven_password" value="{{vendor.ven_password}}" class="form-control" required>
                        </div>

                        <div class="col-12 form-group">
                            <label for="confirm_password">Re-enter Password:</label>
                            <input type="password" id="confirm_password" name="confirm_password" value="{{vendor.ven_password}}" required
                                class="form-control">
                            <span id='message'></span>
                        </div> --}}

                        <div class="col-12 form-group">
                            <label for="ven_image"></label>
                            <img id="imgView" class="pt-3" src="/images/vendor-images/{{vendor._id}}.jpg"
                                alt="{{vendor.ven_name}}" style="width:100px;height:auto" />
                            <input type="file" class="form-control" name="ven_image" id="ven_image" placeholder="Image"
                                onchange="viewImage(event)">
                        </div>

                        <div class="col-12 form-group mt-2">
                            <button type="submit" class="button button-3d bg-color  m-0" id="ven-submit"
                                name="ven-submit" value="register">Update Ventor</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- Viewing upload Image
============================================= -->
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>