<!-- Sub Title
============================================= -->
<section id="page-title" class="page-title-mini">
    <div class="container clearfix">
        <h1 class="color">Customer Orders</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/get_all_order_history">Order history </a></li>
            <li class="breadcrumb-item active" aria-current="page">View Orders</li>
        </ol>
    </div>
</section>


<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap ">
        <div class="container clearfix p-0">
            <div class="card mx-auto rounded-0 border shadow ">
                {{!-- <div class="card-header ">
                    <h2 class="color">Customer Orders</h2>
                </div> --}}
                <div class="card-body">
                    <table class="table mt-5 table-bordered table-striped" id="order_table">
                        <thead class="bg-color text-white">
                            <tr>
                                <th>#</th>
                                <th scope="col">Produt Name</th>
                                <th scope="col">Vendor </th>
                                <th scope="col">Customer</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Gross</th>
                                <th scope="col">Net</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td></td>
                                <td>{{this.product_name}} </td>
                                <td>{{this.ven_shop}} </td>
                                <td>{{this.user_name}} </td>
                                <td>{{this.paymentMethod}}</td>
                                <td>{{this.order_status}}</td>
                                <td>{{this.grossAmount}}</td>
                                <td>{{this.totalAmount}}</td>
                                {{!-- <td>{{this.created_date}}</td> --}}
                                <td><span class="datatable-date">{{this.created_date_string}}</span>{{this.created_date}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        var table = $('#order_table').DataTable({            
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(),
                    data;
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // Total over this page
                pageTotal = api
                    .column(6, {
                        page: 'current'
                    })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                Total = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(6).footer()).html(
                    '' + pageTotal.toFixed(2) + '<br>(Total: ' + Total.toFixed(2) + ')' + ''
                );
            },
            select: {
                style: 'single'
            },
            order: [
                [2, 'asc']
            ],

            dom: 'Bfrtip',
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                //debugger;
                var index = iDisplayIndexFull + 1;
                $("td:first", nRow).html(index);
                return nRow;
            },

            "pageLength": 20,
            "lengthMenu": [
                [20, 30, 50, -1],
                [20, 30, 50, "All"]
            ],
            columnDefs: [{
                targets: 0,
                render: function (data, type, row, meta) {
                    console.log(meta.row);
                    console.log(type == 'export' ? meta.row : data);
                    return type == 'export' ? meta.row : data;
                }
            }],
            buttons: ['pageLength',
                {
                    extend: 'print',
                    text: 'Print All',
                    autoPrint: true,
                    exportOptions: {
                        columns: [':not(.hidden-print)'],
                        orthogonal: 'export',
                        modifier: {
                            page: 'all'
                        },
                    },
                    messageTop: function () {
                        return '<h2 class="text-center"></h2>'
                    },
                    messageBottom: 'Print: 01-May-2019',
                    customize: function (win) {

                        $(win.document.body).find('h1').css('text-align', 'center');
                        $(win.document.body).find('table')
                            .removeClass('table-striped table-responsive-sm table-responsive-lg dataTable')
                            .addClass('compact')
                            .css('font-size', 'inherit', 'color', '#000');

                    },
                    footer: true
                },

            ],
            "aoColumns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null            
           ]
        })
    });
</script>