<!-- Slider
============================================= -->
<section id="slider" class="slider-element include-header min-vh-100"
	style="background: #f5f5f5 url('images/sections/about-us.jpg') right center no-repeat; background-size: auto 100%;">
	<div class="slider-inner">

		<div class="vertical-middle">
			<div class="container">
				<div class="row parallax" data-0="opacity: 1;margin-top:15px" data-800="opacity: 0.1;margin-top:100px">
					<div class="col-md-6">
						<div class="heading-block border-bottom-0 mb-0">
							<h2 class="font-secondary color nott" style="font-size: 32px">Our Cuisine</h2>
						</div>
						<h2 class="font-weight-semibold mb-2" style="font-size: 42px;">The Right Ingredients<br>for the
							Right Food.</h2>
						<p style="color: #AAA; line-height: 1.6">The food we provide are prepared with at most care and
							love as
							we prepare for the little ones in our homes.</p>
					</div>
				</div>

			</div>
		</div>

		<div class="video-wrap d-block d-md-none" style="position: absolute; height: 100%; z-index: 1;">
			<div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
		</div>

	</div>
</section>



<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap pb-0">
		<div class="section bg-transparent p-0">
			<div class="container">
				<div class="row align-items-center clearfix">
					<div class="col-md-6">
						<h2 class="nott mb-5">We Serve The Best Quality Food</h2>
						<p>We have put together an elaborate menu, which is filled with a variety of baked goodies. Our
							passion is reflected in our breads and soft pastries that are simply incomparable to
							anything you have had before. </p>
						<p> Snacky is considered one of the best
							bakery shops near you that promises to deliver only prime quality products for its
							customers..</p>
						<div class="clear"></div>

					</div>
					<div class="col-md-6 mt-5 mt-md-0">
						<div class="about-img position-relative px-4">
							<img src="/images/about/1-1.jpg" alt="About Image">
							<img src="/images/about/1.jpg" alt="About Image">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>
		<div class="section topmargin-lg parallax mb-0"
			style=" background-image: url('/images/about/icon-pattern.jpg'); background-size: auto; background-repeat: repeat"
			data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -500px;">
			<div class="container">
				<div class="heading-block center mx-auto" style="max-width: 700px">
					<h2 class="mb-3">Our Services</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam quam incidunt eos eaque
						esse ducimus dolore, velit, laborum dignissimos?</p>
				</div>
				<div class="clear"></div>
				<div class="row align-items-stretch justify-content-center">
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100 ">
							<div class="card-body p-5  hover-effect">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="images/icons/timer-dark.svg" alt="Icon" style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">#1 Speedy delivery</h3>
										<p style="text-align: justify;">Now, you can order cake online and get it
											delivered for the same day at the desired doorstep.
											The best thing about same day online delivery is that you can easily save
											your occasions from spoilage. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100 ">
							<div class="card-body p-5 hover-effect">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="/images/icons/cuisine.svg" alt="Icon" style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">#2 All Type Cuisines</h3>
										<p> Snacky is right choice to surprise your friends, family and loved one. Here
											you can find one of the best online collection of Cakes,
											cup cake, pastries and much more ...
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="card border-0 shadow-sm h-100">
							<div class="card-body p-5  hover-effect">
								<div class="feature-box flex-column fbox-light fbox-plain">
									<div class="fbox-icon mx-0 bottommargin-sm">
										<img src="images/icons/menu.svg" alt="Icon" style="height: 60px">
									</div>
									<div class="fbox-content">
										<h3 class="ls0 nott mb-4">#3 Make your event special</h3>
										<p>A delicious cake gives a kick-start to the occasions as well as celebration.
											Therefore,
											if any occasion is approaching, then you must begin it with a delicious
											cake. Snacky has all kinds of cakes
											specially prepared for you.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section m-0 bg-transparent m-0">
			<div class="container">
				{{!-- <div class="d-flex flex-wrap align-items-center">
					{{#each vendors}}
					<div class="flex-fill">
						<a href="/get_products_bybaker/{{this._id}}">
							<img style="width: 90px;height: 90px;" src="../images/vendor-images/{{this._id}}.jpg"
								alt="{{this.ven_shop}}" />
						</a>
					</div>
					{{/each}}
				</div> --}}
				<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-items-xs="2"
					data-items-sm="3" data-items-lg="4" data-items-xl="5">
					{{#each vendors}}
					<div class="oc-item">
						<a href="/get_products_bybaker/{{this._id}}"><img src="../images/vendor-images/{{this._id}}.jpg"
								alt="{{this.ven_shop}}"></a>
					</div>
					{{/each}}
				</div>

			</div>
		</div>

		<div class="section m-0 center dark"
			style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('/images/about/2.jpg') no-repeat center center / cover; padding: 120px 0;">
			<div class="container">
				<blockquote class="blockquote text-center border-0 m-auto" style="max-width: 700px">
					<h2 class="h1 font-weight-bold text-capitalize" style="line-height: 1.4">To get the best
						results, you must talk to your Vegetables.</h2>
					<footer class="blockquote-footer text-white-50 mt-4">Charles, <cite title="Source Title">Prince
							of Wales</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</section><!-- #content end -->