<!-- Slider
============================================= -->
<section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-effect="fade"
	data-loop="true" data-autoplay="6000" data-speed="1400">
	<div class="slider-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption">
							<div>
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn">Homely
									flavours</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="400">
									Delivery to The door Step</p>
								<div class="static-content"
									style="position: relative; display: flex; justify-content: flex-start; flex-direction: row; margin-top: 30px"
									data-animate="fadeIn" data-delay="800">
									<img src="images/icons/bowl-white.svg" width="42" height="42" alt="Image">
									<img class="leftmargin-sm" src="images/icons/spoon-white.svg" width="42" height="42"
										alt="Image">
									<img class="leftmargin-sm" src="images/icons/glass-white.svg" width="42" height="42"
										alt="Image">
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg" style="background-image: url('images/slider/1.jpg');"></div>
				</div>
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption slider-caption-center" style="margin-top: -30px;">
							<div>
								{{!-- <img data-animate="fadeIn" src="images/logo-dark.png" alt="Image"
									style="width: 130px; margin-bottom: 10px;"> --}}
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn"
									data-delay="400">Make a tasty wish</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="800">You'll
									be surprised to see the Delicious dishes <br>From our Bakers &amp; would crave for
									more.</p>
								<div class="static-content"
									style="position: relative; display: flex; justify-content: center; flex-direction: row; margin-top: 30px"
									data-animate="fadeIn" data-delay="1000">
									<img src="images/icons/bowl-white.svg" width="42" height="42" alt="Image">
									<img class="leftmargin-sm" src="images/icons/spoon-white.svg" width="42" height="42"
										alt="Image">
									<img class="leftmargin-sm" src="images/icons/glass-white.svg" width="42" height="42"
										alt="Image">
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg" style="background-image: url('images/slider/3.jpg');"></div>
				</div>
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption slider-caption-right">
							<div>
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn">Hello &amp;
									Welcome.</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="400">Our
									pastry chefs create sweets only with creativity and love</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg"
						style="background-image: url('images/slider/2.jpg'); background-position: center bottom;filter: brightness(.4);">
					</div>
				</div>
			</div>

			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>

		</div>

	</div>
</section>
<!-- Content
============================================= -->
<section id="content">
	<div
		style="position: absolute; top: 0; left: 0; width: 100%; z-index: 3; background: url('images/sketch.png') repeat center bottom; background-size: auto 100%; height: 40px; margin-top: -40px;">
	</div>
	<div class="content-wrap " style="overflow: visible;">

		<!-- How We Work
		============================================= -->
		<div class="section m-0 clearfix "
			style="padding: 40px 0; background: url('images/sections/4.jpg') center center no-repeat; background-size: 100% auto">
			<div class="container">
				<div class="heading-block border-bottom-0 bottommargin-sm">
					<h2 class="font-secondary color nott" style="font-size: 52px;">How We Work</h2>
				</div>
				<div class="row col-mb-50">
					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/bowl.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>Food Served Hot</h3>
								<p>Scrumptious food on your table delivered hot!</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/spoon.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>Ample Options</h3>
								<p>A wide variety of taste available as per your needs...</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/glass.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>24*7 Service</h3>
								<p>Happy to serve food at flexible timings...</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Items
		============================================= -->
		<div id="story" class="page-section d-none d-sm-block">
			<div class="section m-0 p-0">
				<div class="row align-items-stretch clearfix ">
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #0A0A0A;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/1.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3">Burgers</h2>
							<p class="">Delicious lip-smacking and crunchy vegetable & Non vegetable varieties of
								Burgers. Our Burgers will make you so tempting that it will leave you craving for more
								each time you have it. </p>

						</div>
					</div>
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #1B1B1B;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/3.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3">Cakes</h2>
							<p class="">You will experience a bite of deliciousness by trying out our wide variety of
								cakes from proffessional chefs. We offer a huge assortment of the most appetizing,
								magnificent and elegant cakes freshly baked.
							</p>
						</div>
					</div>
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #262626;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/4.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3"> Muffins</h2>
							<p class="">Our classic muffins have a delicious twist. They are great first thing in the
								morning
								or served as a coffee break snack. Made with premium quality ingradients, the taste is
								surely going to
								tame your taste buds.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		
		<!-- Coupon
		============================================= -->
		{{#if coupon_details}}
		<div class="section mb-0 m-0"
			style="background: url('images/common/promo-bg.jpg') no-repeat center center; background-size: cover; padding:80px 0;">
			<div class="snowfall"></div>
			<div class="mx-auto center" style="max-width: 1100px;">
				<h3 class="mb-0 font-weight-medium  text-black">Get <span>{{coupon_details.coupon_amount}} %</span> off on orders of
							{{coupon_details.minimum_amount}}/- or more.
							Use Coupon:<span>{{coupon_details.coupon_code}}</span>					
						<a href="/gallery"><button  class="button button-dark button-rounded my-0">
							Start Shopping</button> </a>
				</h3>
			</div>
		</div>
		{{/if}}
		

		<!-- Our Menu
		============================================= -->
		<div class="section mb-0 mt-0"
			style="background: #ffffff  url('images/sections/41.jpg') no-repeat center right; background-size: cover; padding: 60px 0;">
			<div class="heading-block center mb-0 border-bottom-0">
				<span class="font-primary ls1" style="font-size: 14px; color: #AAA">Sweet &amp; Tasty</span>
				<h3 class="nott font-secondary ls0" style="font-size: 60px;line-height: 1.3;">Our Menu</h3>
			</div>
		</div>
		<div class="section recipe-itmes p-0 m-0" style="overflow: visible;background-color: #f9f9f9">
			<div class="row align-items-stretch align-content-stretch no-gutters">
				<div class="col-lg-4 dark">
					<div class="position-sticky min-vh-60 min-vh-md-100 d-flex flex-column align-items-center center justify-content-center"
						style="top:0; background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('/images/common/side-bg.jpg') center center / cover;">
						<h2 class="display-4 px-3 center font-weight-bold d-block">Latest<br>Items</h2>
						<a href="/get_bakers"
							class="button button-large button-light button-white button-circle m-0 px-5">View All</a>
					</div>
				</div>
				<div class="col-lg-8 col-sm-12">
					<div class="row no-gutters">
						{{#each latest_products}}
						<div class="col-lg-4 col-md-4 col-6">
							<div class="jm-item second">
								<div class="jm-item-wrapper">
									<div class="jm-item-image">
										<img src="../images/product-images/{{this._id}}.jpg"
											alt="{{this.product_name}}" />
										{{#if this.percent}}
										<div class="sale-flash badge badge-success p-2"> {{this.percent}} %Off*</div>
										{{/if}}
										<div class="jm-item-description text-center ">
											<h4 class="text-white mb-0 mt-md-5 mt-xs-0">{{this.product_name}}</h4>
											{{!-- <span>By {{this.ven_shop}}</span> --}}
											{{#if this.discount_price}}
											<span><del class="mr-1">₹{{ this.price}}</del>
												<span>₹{{ this.discount_price}}</span></ins>
												{{else}}
												<span>₹{{ this.price}} </span>
												{{/if}}

												<div class="jm-item-button"><a
														href="/get_products_bybaker/{{this.ven_id}}">View</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>

		<!-- Services
		============================================= -->
		<div class="section bg-transparent d-none d-sm-block m-0">
			<div class="d-none d-lg-block"
				style="background: #FFF url('images/sections/3.jpg') no-repeat center center / cover; height: 100%;position: absolute; top: 0; left: 0; width: 100%">
			</div>
			<div class="container clearfix">

				<div class="heading-block border-bottom-0">
					<span class="font-primary ls1" style="font-size: 14px; color: #AAA">Services</span>
					<h3 class="nott font-secondary ls0" style="font-size: 60px; line-height: 1.3;">What We Do</h3>
				</div>
				<div class="row clearfix">
					<div class="col-lg-6 col-md-6 col-12"><img src="images/sections/1.jpg" alt="Image"></div>
					<div class="col-lg-4 col-md-6 col-12">
						<a href="/about"
							class="button button-border button-large button-black button-dark button-rounded nott ls0 font-primary service-button">Our
							Service</a>
						<img src="images/sections/2.jpg" alt="Image" class="d-none d-md-block"
							style="margin: 0 0 0 -80px;">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div
		style="position: absolute; bottom: 0; left: 0; width: 100%; z-index: 3; background: url('images/sketch-header.png') repeat center bottom; background-size: auto 100%; height: 40px; margin-bottom: -10px;">
	</div>

</section><!-- #content end -->

<!-- Modal -->
{{#if coupon_details}}
<div class="modal animated fadeInUp fast pr-0" id="modal-subscribe" role="dialog" displayed="false"
	data-backdrop="static">

	<div class="modal-dialog" role="subscribe">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close position-relative" data-dismiss="modal" aria-label="Close"
					style="z-index: 1">
					<span aria-hidden="true">&times;</span>
				</button>

				<div class="form-widget mx-auto" data-loader="button" style="padding: 30px">					
					<h2 class="font-weight-bold h1 mb-3" style="letter-spacing: -2px">Get Special Discount!</h2>				
					<h4 class=" nott ">Use<span>{{coupon_details.coupon_code}}</span>during Checkout 
					and Get Additional <span class="text-danger">{{coupon_details.coupon_amount}}%</span> Off your First Order</h4>
					
					<a href="/user_login"><button name="" class="button btn-block btn-danger m-0 mt-2"
							type="submit">Login Now</button></a>

				
				

				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

<script>

	$(window).scroll(function () {
		if ($(document).scrollTop() > 1000 && $("#modal-subscribe").attr("displayed") === "false") {
			$('#modal-subscribe').modal('show');
			$("#modal-subscribe").attr("displayed", "true");
		}
	});

	jQuery('#modal-subscribe-form').on('formSubmitSuccess', function () {
		$("#modal-subscribe").addClass("fadeOutDown");
		setTimeout(function () { $('#modal-subscribe').modal('hide'); }, 400);
		$("#modal-subscribe").attr("displayed", "false");
	});

	

</script>


<style>
	/* Snowfall Effect
-----------------------------------------------------------------*/

	.snowfall {
		background-image: url('/images/snow/s1.png'),
			url('/images/snow/s2.png'),
			url('/images/snow/s3.png');
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-animation: snow 10s linear infinite;
		-moz-animation: snow 10s linear infinite;
		-ms-animation: snow 10s linear infinite;
		animation: snow 10s linear infinite;
	}

	@keyframes snow {
		0% {
			background-position: 0px 0px, 0px 0px, 0px 0px;
		}

		50% {
			background-position: 500px 500px, 100px 200px, -100px 150px;
		}

		100% {
			background-position: 500px 1000px, 200px 400px, -100px 300px;
		}
	}

	@-moz-keyframes snow {
		0% {
			background-position: 0px 0px, 0px 0px, 0px 0px;
		}

		50% {
			background-position: 500px 500px, 100px 200px, -100px 150px;
		}

		100% {
			background-position: 400px 1000px, 200px 400px, 100px 300px;
		}
	}

	@-webkit-keyframes snow {
		0% {
			background-position: 0px 0px, 0px 0px, 0px 0px;
		}

		50% {
			background-position: 500px 500px, 100px 200px, -100px 150px;
		}

		100% {
			background-position: 500px 1000px, 200px 400px, -100px 300px;
		}
	}

	@-ms-keyframes snow {
		0% {
			background-position: 0px 0px, 0px 0px, 0px 0px;
		}

		50% {
			background-position: 500px 500px, 100px 200px, -100px 150px;
		}

		100% {
			background-position: 500px 1000px, 200px 400px, -100px 300px;
		}
	}
</style>