<!-- Slider
============================================= -->
<section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-effect="fade"
	data-loop="true" data-autoplay="6000" data-speed="1400">
	<div class="slider-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption">
							<div>
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn">Homely flavours</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="400">
									Delivery to The door Step</p>
								<div class="static-content"
									style="position: relative; display: flex; justify-content: flex-start; flex-direction: row; margin-top: 30px"
									data-animate="fadeIn" data-delay="800">
									<img src="images/icons/bowl-white.svg" width="42" height="42" alt="Image">
									<img class="leftmargin-sm" src="images/icons/spoon-white.svg" width="42" height="42"
										alt="Image">
									<img class="leftmargin-sm" src="images/icons/glass-white.svg" width="42" height="42"
										alt="Image">
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg" style="background-image: url('images/slider/1.jpg');"></div>
				</div>
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption slider-caption-center" style="margin-top: -30px;">
							<div>
								{{!-- <img data-animate="fadeIn" src="images/logo-dark.png" alt="Image"
									style="width: 130px; margin-bottom: 10px;"> --}}
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn"
									data-delay="400">Make a tasty wish</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="800">You'll
									be surprised to see the Delicious dishes <br>From our Bakers &amp; would crave for
									more.</p>
								<div class="static-content"
									style="position: relative; display: flex; justify-content: center; flex-direction: row; margin-top: 30px"
									data-animate="fadeIn" data-delay="1000">
									<img src="images/icons/bowl-white.svg" width="42" height="42" alt="Image">
									<img class="leftmargin-sm" src="images/icons/spoon-white.svg" width="42" height="42"
										alt="Image">
									<img class="leftmargin-sm" src="images/icons/glass-white.svg" width="42" height="42"
										alt="Image">
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg" style="background-image: url('images/slider/3.jpg');"></div>
				</div>
				<div class="swiper-slide">
					<div class="container dark">
						<div class="slider-caption slider-caption-right">
							<div>
								<h2 class="font-secondary ls0 font-weight-normal nott" data-animate="fadeIn">Hello &amp;
									Welcome.</h2>
								<p class="d-none d-sm-block font-primary" data-animate="fadeIn" data-delay="400">Our
									pastry chefs create sweets only with creativity and love</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide-bg"
						style="background-image: url('images/slider/2.jpg'); background-position: center bottom;filter: brightness(.4);"></div>
				</div>
			</div>

			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>

		</div>

	</div>
</section>
<!-- Content
============================================= -->
<section id="content">
	<div
		style="position: absolute; top: 0; left: 0; width: 100%; z-index: 3; background: url('images/sketch.png') repeat center bottom; background-size: auto 100%; height: 40px; margin-top: -40px;">
	</div>
	<div class="content-wrap" style="overflow: visible;">
		<div class="section m-0 clearfix "
			style="padding: 40px 0; background: url('images/sections/4.jpg') center center no-repeat; background-size: 100% auto">
			<div class="container">
				<div class="heading-block border-bottom-0 bottommargin-sm">
					<h2 class="font-secondary color nott" style="font-size: 52px;">How We Work</h2>
				</div>
				<div class="row col-mb-50">
					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/bowl.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>Food Served Hot</h3>
								<p>Scrumptious food on your table delivered hot!</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/spoon.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>Ample Options</h3>
								<p>A wide variety of taste available as per your needs...</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="feature-box media-box" style="max-width: 400px;">
							<div class="fbox-media" style="width: 70px; height: auto;">
								<img src="images/icons/glass.svg" alt="Image">
							</div>
							<div class="fbox-content px-0">
								<h3>24*7 Service</h3>
								<p>Happy to serve food at flexible timings...</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div id="story" class="page-section d-none d-sm-block">
			<div class="section m-0 p-0">
				<div class="row align-items-stretch clearfix ">
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #0A0A0A;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/1.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3">Burgers</h2>
							<p class="">Delicious lip-smacking and crunchy vegetable & Non vegetable varieties of 
								 Burgers. Our Burgers will make you so tempting that it will leave you craving for more
								 each time you have it.   </p>

						</div>
					</div>
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #1B1B1B;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/3.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3">Cakes</h2>
							<p class="">You will experience a bite of deliciousness by trying out our wide variety of 
								cakes from proffessional chefs. We offer a huge assortment of the most appetizing, 
								 magnificent and elegant cakes freshly baked. 
								 </p>
						</div>
					</div>
					<div class="item-categories overflow-hidden col-md-4 dark col-padding position-relative"
						style="background-color: #262626;">
						<div class="cat-img"><img data-animate="fadeInRight" src="/images/section/4.png"
								alt="Category Image"></div>
						<div class="cat-text">
							<h2 class="font-weight-bold ls1 text-uppercase mb-3"> Muffins</h2>
							<p class="">Our classic muffins have a delicious twist. They are great first thing in the morning 
								or served as a coffee break snack. Made with premium quality ingradients, the taste is surely going to 
								tame your taste buds.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section mb-0 mt-0"
			style="background: #fee749 url('images/sections/4.jpg') no-repeat center right; background-size: cover; padding: 60px 0;">
			<div class="heading-block center mb-0 border-bottom-0">
				<span class="font-primary ls1" style="font-size: 14px; color: #AAA">Sweet &amp; Tasty</span>
				<h3 class="nott font-secondary ls0" style="font-size: 60px;line-height: 1.3;">Our Menu</h3>
			</div>
		</div>
		<div class="section recipe-itmes p-0 m-0" style="overflow: visible;background-color: #f9f9f9">
			<div class="row align-items-stretch align-content-stretch no-gutters">
				<div class="col-lg-4 dark">
					<div class="position-sticky min-vh-60 min-vh-md-100 d-flex flex-column align-items-center center justify-content-center"
						style="top:0; background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('/images/common/side-bg.jpg') center center / cover;">
						<h2 class="display-4 px-3 center font-weight-bold d-block">Latest<br>Items</h2>
						<a href="/get_bakers"
							class="button button-large button-light button-white button-circle m-0 px-5">View All</a>
					</div>
				</div>
				<div class="col-lg-8 col-sm-12">
					<div class="row no-gutters">
						{{#each latest_products}}
						<div class="col-lg-4 col-md-4 col-6">
							<div class="jm-item second">
								<div class="jm-item-wrapper">
									<div class="jm-item-image">
										<img  src="../images/product-images/{{this._id}}.jpg" alt="{{this.product_name}}"/>										
										<div class="jm-item-description text-center ">
											<h4 class="text-white mb-0 mt-md-5 mt-xs-0">{{this.product_name}}</h4>
											{{!-- <span>By {{this.ven_shop}}</span> --}}
											{{#if this.discount_price}} 
											<span><del class="mr-1">₹{{ this.price}}</del> 
                                            <span>₹{{ this.discount_price}}</span></ins>
											{{else}}
											 <span >₹{{ this.price}} </span>
											 {{/if}}

											<div class="jm-item-button"><a
													href="/get_products_bybaker/{{this.ven_id}}">View</a></div>
										</div>
									</div>									
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>




		<div class="section bg-transparent d-none d-sm-block">
			<div class="d-none d-lg-block"
				style="background: #FFF url('images/sections/3.jpg') no-repeat center center / cover; height: 100%;position: absolute; top: 0; left: 0; width: 100%">
			</div>
			<div class="container clearfix">

				<div class="heading-block border-bottom-0">
					<span class="font-primary ls1" style="font-size: 14px; color: #AAA">Services</span>
					<h3 class="nott font-secondary ls0" style="font-size: 60px; line-height: 1.3;">What We Do</h3>
				</div>
				<div class="row clearfix">
					<div class="col-lg-6 col-md-6 col-12"><img src="images/sections/1.jpg" alt="Image"></div>
					<div class="col-lg-4 col-md-6 col-12">
						<a href="/about"
							class="button button-border button-large button-black button-dark button-rounded nott ls0 font-primary service-button">Our
							Service</a>
						<img src="images/sections/2.jpg" alt="Image" class="d-none d-md-block"
							style="margin: 0 0 0 -80px;">
					</div>
				</div>

			</div>
		</div>


	</div>

	<div
		style="position: absolute; bottom: 0; left: 0; width: 100%; z-index: 3; background: url('images/sketch-header.png') repeat center bottom; background-size: auto 100%; height: 40px; margin-bottom: -10px;">
	</div>
</section><!-- #content end -->



