<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->

	<link
		href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,600,700,800,900|Poppins:300,400,500,600,700|Playfair+Display:400,400i,700,700i,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/stylesheets/css/swiper.css" type="text/css" />

	<link rel="stylesheet" href="/stylesheets/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- restaurant Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/restaurant.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/css/fonts.css" type="text/css" />
	<!-- / -->



	{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Charts JS
	============================================= -->
	<script src="/javascripts/chart.js"></script>
	<script src="/javascripts/chart-utils.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

			<script type="text/javascript" charset="utf8"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

	

</head>

<!-- Document Title
============================================= -->
<title>Food Delivery System | Home Bakers</title>
</head>

<body>
	{{#if admin_status}}
	{{>admin-header}}

	{{else if vendor_status}}
	{{>vendor-header}}

	{{else if user_status}}
	{{>user-header}}

	{{/if}}

	{{{body}}}

	{{#if user_status}}
	{{>user-footer}}
	{{/if}}

	{{!-- {{>user-footer}} --}}
	{{!-- {{#if admin_status}}
	{{>admin-footer}} --}}

	{{!-- {{else if vendor_status}} --}}
	{{!-- {{>user-footer}} --}}

	{{!-- {{else}} --}}
	{{!-- {{>vendor-footer}} --}}

	{{!-- {{/if}} --}}

	<script src="/javascripts/functions.js"></script>
	{{!-- <script src="/javascripts/jquery.js"></script> --}}
	<script src="/javascripts/plugins.min.js"></script>
	<script src="/javascripts/scripts.js"></script>


</body>

</html>